@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }

html { scroll-behavior: smooth;}

.topo{ width:100%; height:100%; background-image:url(../img/pantera.png); background-repeat: no-repeat;  }